<template>
   <div>
        
             <navbar></navbar>
            <alertM></alertM>
            <div class="container-fluid">
            <div class="row">
                
                
                
                <sidebar></sidebar>
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                    <keep-alive><router-view/></keep-alive>
                </main>
            </div>
            </div>  
       
    </div> 
</template>


<script>
import navbar from '@/components/navbar'
import sidebar from '@/components/sideBar'
import alertM from '@/components/alertMessage'

export default {
 
    components:{
        navbar,
        sidebar,
        alertM
    }
    
}


</script>



<style scoped>



</style>