<template>
  <div class="home">
    <navHome></navHome>
    <logOut></logOut>
    <router-link to="/dashboard/products">後台</router-link>
  </div>
</template>

<script>
// @ is an alias to /src
import logOut from '@/components/logout.vue'
import navHome from '@/components/home/NavBar.vue'

export default {
  
  name: 'Home',
  components: {
  logOut,
  navHome
  }
}
</script>
