<template>
    <div>
       <loading :active.sync="isLoading"></loading>
       <div class="text-left">
           <button class="btn btn-outline-primary mt-4" 
               @click="openModal(true)" >建立新優惠券</button>
       </div>
       <div>
           <table class="table mt-4">
               <thead>
                   <tr>
                       <th>優惠券</th>
                       <th>認證碼</th>
                       <th>折扣</th>
                       <th>啟用</th>
                       <th>刪除/編輯</th>
                   </tr>
               </thead>
               <tbody>
                  <tr v-for='item in couponInfo' :key="item.data">
                      <td>{{item.title}}</td>
                      <td>{{item.code}}</td>
                      <td>%{{item.percent}}off！</td>
                      <td>
                          <span v-show="item.is_enable">啟用</span>
                          <span v-show="!item.is_enable">失效</span>
                      </td>
                      <td>
                          <button class="btn btn-outline-primary btn-sm" @click="openModal(false,item)">修改</button>
                          <button class="btn btn-outline-danger btn-sm" @click="openDelModal(item)">刪除</button>
                      </td>
                  </tr>
               </tbody>
           </table>
       </div>
        <!--modal-->
        <div>
            <div class="modal fade" tabindex="-1" id="cupon"  role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">新增優惠券</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>　
                            <form>
                                <label for="title">請輸入優惠券標題：</label>
                                <input type='text' name="title" id="right" v-model="coupontemp.title">
                                <br>
                                <label for="is_enable">是否啟用</label>
                                <span>  
                                    <input type='radio' name="is_enable" value="1"  v-model.number="coupontemp.is_enable" >是
                                    <input type='radio' name="is_enable" value="0"  v-model.number="coupontemp.is_enable" >否<br/>
                                </span>
                            
                                <label for="percent">優惠券折扣：</label>
                                <input type="number" name="percent" id="right"  v-model.number="coupontemp.percent"><br/>
                                <label for="due_date">時間：</label>
                                <input type="number" name='due_date' id="right"  v-model.number="coupontemp.due_date"><br/>
                                <label name="code">優惠券碼：</label>
                                <input type='text' name='code' id="right" v-model="coupontemp.code"><br/>


                            </form>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                        <button type="button" class="btn btn-primary" @click="addCupon">新增</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    <!--刪除modal-->
        <div class="modal fade" id="delCoupon" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content border-0">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="exampleModalLabel">
                <span>刪除優惠券</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                是否刪除 <strong class="text-danger">{{ delTarget.title }}</strong> 將無法復原
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-danger"  @click="deleteCoupon()"
                >確認刪除</button>
            </div>
            </div>
        </div>
        </div>
    <!---->
    </div>
</template>
<script>

import $ from 'jquery'

export default {
    mounted(){
        this.getCupon();
    },
    data(){
        return{
            couponInfo:'',
            coupontemp:{
         
            },
            delTarget:'',
            isNew:false,
            isLoading:false,
        }
    },
    methods:{
        addCupon:function(){
          
           let api =`${process.env.VUE_APP_APIPATH}/api/${process.env.VUE_APP_CUSTOMPATH}/admin/coupon`;
           const _this=this;
           if(this.isNew){
               this.isLoading=true;
               this.axios.post(api,{data:this.coupontemp}).then(res=>{
                this.isLoading=false;
               alert(res.data.message);
                  this.getCupon();
                $("#cupon").modal('hide');
                
            })
           }else{
               this.isLoading=true;
               api=`${process.env.VUE_APP_APIPATH}/api/${process.env.VUE_APP_CUSTOMPATH}/admin/coupon/${this.coupontemp.id}`
               this.axios.put(api,{data:this.coupontemp}).then(res=>{
                   this.isLoading=false;
               alert(res.data.message);
                  this.getCupon();
               $("#cupon").modal('hide');
              
            })
           }
        },
        getCupon:function(page=1){
            this.isLoading=true;
            const api =`${process.env.VUE_APP_APIPATH}/api/${process.env.VUE_APP_CUSTOMPATH}/admin/coupons?page=${page}`
            this.axios.get(api).then(res=>{
              
                this.couponInfo=res.data.coupons;
                this.isLoading=false;
                
            })
        },

        openModal:function(isNew,item){
             if(isNew){
                
                this.coupontemp={};
                this.isNew=true;
                $("#cupon").modal('show');
                }else{
                     this.isNew=false;
                    $("#cupon").modal('show');
                    this.coupontemp=Object.assign({},item);
                }
        },
        openDelModal:function(item){
             $("#delCoupon").modal('show');
             this.delTarget=Object.assign({},item);
             
        },
        deleteCoupon:function(){
             $("#delCoupon").modal('hide');
             this.isLoading=true;
            const api=`${process.env.VUE_APP_APIPATH}/api/${process.env.VUE_APP_CUSTOMPATH}/admin/coupon/${this.delTarget.id}`
            this.axios.delete(api).then(res=>{
                
               this.isLoading=false;
                alert(res.data.message); 
                this.getCupon();
                
                
            })
        }
    },

}
</script>
<style>
#right{
    position:relative;
    float:right;
}
</style>