<template>
    <div>
        <loading :active.sync="isLoading"></loading>
        <div class="row mt-4" >
                <div class="col-md-4 mb-4" v-for="item in products" :key="item.id">
            <div class="card border-0 shadow-sm">
                <div style="height: 150px; background-size: cover; background-position: center"
                :style="{backgroundImage:`url(${item.imageUrl})`}">
                </div>
                <div class="card-body">
                <span class="badge badge-secondary float-right ml-2">{{item.category}}</span>
                <h5 class="card-title">
                    <a href="#" class="text-dark">{{item.title}}</a>
                </h5>
                <p class="card-text">{{item.content}}</p>
                <div class="d-flex justify-content-between align-items-baseline">
                    <!-- <div class="h5">2,800 元</div> -->
                    <div v-if="!item.price" class="h5">{{item.origin_price}} 元</div>
                    <del v-if="item.price" class="h6">原價 {{item.origin_price}} 元</del>
                    <div v-if="item.price" class="h5">現在只要 {{item.price}} 元</div>
                </div>
                </div>
                <div class="card-footer d-flex">
                <button type="button" class="btn btn-outline-secondary btn-sm" @click="getOneProduct(item.id)">
                    <i class="fas fa-spinner fa-spin"></i>
                    查看更多
                </button>
                <button type="button" class="btn btn-outline-danger btn-sm ml-auto" @click="addTocart(item.id)">
                    <i class="fas fa-spinner fa-spin"></i>
                    加到購物車
                </button>
                </div>
            </div>
            </div>
        </div>   
        
       <!-- Button trigger modal -->
     
        <!-- Modal -->
        <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{oneProduct.title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                  <div style="height: 300px; background-size: cover; background-position: center"
                :style="{backgroundImage:`url(${oneProduct.imageUrl})`}">
                </div>
                <blockquote class="blockquote mt-3">
                    <p class="mb-0">{{oneProduct.content}}</p>
                    <footer class="blockquote-footer text-right">{{oneProduct.description}}</footer>
                </blockquote>
                    <div class='d-flex justify-content-between align-items-baseline'>
                        <div v-if="!oneProduct.price" class="h5">{{oneProduct.origin_price}} 元</div>
                        <del v-if="oneProduct.price" class="h6">原價 {{oneProduct.origin_price}} 元</del>
                        <div v-if="oneProduct.price" class="h5">現在只要 {{oneProduct.price}} 元</div>
                    </div>
                    <select name='' class='form-control mt-3' v-model="oneProduct.num">
                        <option :value="number" v-for="number in 10" :key="number">
                          選購{{number}}{{oneProduct.unit}}
                        </option>
                    </select> 
            </div>
            <div class="modal-footer">
                <div class="text-muted text-nowrap mr-3">
                    小計<strong>{{oneProduct.num*oneProduct.price}}</strong>元
                </div>
                <button type='button' class='btn btn-primary'  @click="addTocart(oneProduct.id,oneProduct.num)">加到購物車</button>
            </div>
            </div>
        </div>
    </div>
      <!-- Modal -->
            <table class="table">
        <thead>
            <th></th>
            <th>品名</th>
            <th>數量</th>
            <th>單價</th>
        </thead>
        <tbody>
            <tr v-for="item in cart.carts" :key="item.data">
            <td class="align-middle">
                <button type="button" class="btn btn-outline-danger btn-sm" @click.once="delCart(item.id)">
                刪除
                </button>
            </td>
            <td class="align-middle">
                {{ item.product.title }}
                <div class="text-success" v-if="item.coupon">
                已套用優惠券
                </div>
            </td>
            <td class="align-middle">{{ item.qty }}/{{ item.product.unit }}</td>
            <td class="align-middle text-right">{{ item.final_total }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
            <td colspan="3" class="text-right">總計</td>
            <td class="text-right">{{ cart.total }}</td>
            </tr>
            <tr v-if="cart.final_total!==cart.total ">
            <td colspan="3" class="text-right text-success">折扣價</td>
            <td class="text-right text-success">{{ cart.final_total }}</td>
            </tr>
        </tfoot>
        </table>
        <div class="input-group mb-3 input-group-sm">
        <input type="text" class="form-control" v-model="coupon_code" placeholder="請輸入優惠碼">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" @click="addCouponCode">
            套用優惠碼
            </button>
        </div>
        </div>            


          <!--表單-->
          <div class="my-5 row justify-content-center">
  <form class="col-md-6" @submit.prevent="createOrder">
    <div class="form-group">
     
      <label for="useremail">Email</label>
      <input type="email" class="form-control" name="email" id="useremail"
        v-model="form.user.email" placeholder="請輸入 Email" v-validate="'required|email'">
      <span class="text-danger" v-if="errors.has('email')">{{errors.first('email')}}</span>
   
    </div>
  
    <div class="form-group">
      <label for="username">收件人姓名</label>
      <input type="text" class="form-control" name="name" id="username"
        v-model="form.user.name" v-validate="'required'" placeholder="輸入姓名">
      <span class="text-danger" v-if="errors.has('name')">請輸入姓名</span>
    </div>
  
    <div class="form-group">
      <label for="usertel">收件人電話</label>
      <input type="tel" 
             class="form-control" 
             id="usertel" 
             v-model="form.user.tel" 
             placeholder="請輸入電話"
             v-validate="'required'"
             name="tel">
             <span class="text-danger" v-if="errors.has('tel')">電話欄位不得為空</span>
    </div>
  
    <div class="form-group">
      <label for="useraddress">收件人地址</label>
      <input type="text" class="form-control" name="address" id="useraddress" v-model="form.user.address"
        placeholder="請輸入地址"
        v-validate="'required'">
      <span class="text-danger" v-if="errors.has('address')">地址欄位不得留空</span>
    </div>
  
    <div class="form-group">
      <label for="comment">留言</label>
      <textarea name="" id="comment" class="form-control" cols="30" rows="10" v-model="form.message"></textarea>
    </div>
    <div class="text-right">
      <button class="btn btn-danger">送出訂單</button>
    </div>
  </form>
</div>       
</div>
           
        
   
   
</template>

<script>
import pageBar from '@/components/pageBar'
import $ from 'jquery'

export default {
    created(){
        this.getProducts();
        this.getCart();
    },
    data(){
         return{
            products:[],
            oneProduct:[],
            isLoading:false,
            pagination:{},
            itemLoading:false,
            cart:'',
            coupon_code:'',
           form:{
               user:{
                   name:'',
                   email:'',
                   tel:'',
                   address:'',
               },
               message:'',
           },
    }
   },
   methods:{
        getProducts(page=1){
           this.isLoading=true;
           const api=`https://vue-course-api.hexschool.io/api/rycea/products?page=${page}`
           this.axios.get(api).then((response)=>{
              
              
               this.products=response.data.products
                this.isLoading=false;
                this.pagination=response.data.pagination;

           });
            
        },
        getOneProduct:function(id){
            const _this=this;
              this.isLoading=true;
             const api=`https://vue-course-api.hexschool.io/api/rycea/product/${id}`
             this.axios.get(api).then((response)=>{
                 response.data.product.num=1;
              this.oneProduct=response.data.product;
               console.log(response.data);
              this.isLoading=false;
              $("#productModal").modal('show');
              


           });
        },
        addTocart:function(id,qty=1){
            const _this=this;
            const api=`${process.env.VUE_APP_APIPATH}/api/${process.env.VUE_APP_CUSTOMPATH}/cart`
            const cart={
                product_id:id,
                qty,
            };
            this.axios.post(api,{data:cart}).then(res=>{
               
                this.getCart();
                 $("#productModal").modal('hide');
            })

        },
        getCart:function(){
              this.isLoading=true;
           const api=`https://vue-course-api.hexschool.io/api/rycea/cart`
           this.axios.get(api).then((res)=>{
              
              
               this.cart=res.data.data
                this.isLoading=false;
               

           });
        },
        delCart:function(id){
            const api=`${process.env.VUE_APP_APIPATH}/api/${process.env.VUE_APP_CUSTOMPATH}/cart/${id}`
             this.isLoading=true;
            this.axios.delete(api).then(res=>{
                this.isLoading=false;
                alert(res.data.message);
                this.getCart();
                
            })
        },
        addCouponCode:function(){
            const api=`${process.env.VUE_APP_APIPATH}/api/${process.env.VUE_APP_CUSTOMPATH}/coupon`
             this.isLoading=true;
             const _this=this;
             const coupon={
                 code:_this.coupon_code,
             }
            this.axios.post(api,{data:coupon}).then(res=>{
                this.isLoading=false;
                console.log(res.data);
                this.getCart();
             })
        },
        createOrder:function(){
            const _this=this;
            const order=_this.form;
            const api=`${process.env.VUE_APP_APIPATH}/api/${process.env.VUE_APP_CUSTOMPATH}/order`;
           
            this.$validator.validate().then((result)=>{
                    if(result){
                        this.axios.post(api,{data:order}).then(res=>{
                        console.log('表單建立成功',res);
                        _this.isLoading=false;

                        if(res.data.success){
                            _this.$router.push({name:'CustomerCheck',params:{orderId:res.data.orderId}})
                        }

                        });
                    }else{
                        console.log('欄位不完整');
                    }

            });
        },

   },
   components:{
        pageBar
   }
}
</script>