<template>
  <div class="hello">
    <a  href="#" @click.prevent="signout">登出</a>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  methods:{
    signout:function(){
      const api=`${process.env.VUE_APP_APIPATH}/logout`
      this.$http.post(api).then((response=>{
        if(response.data.success){
          this.$router.push('/login')
        }
      }))

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
