<template>
    
<div>
     <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
       <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>管理員</span>
          <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
       
        <ul class="nav flex-column mb-2">
         <router-link to="/dashboard/products">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              <i class="fas fa-box-open"></i>
             <strong>產品列表</strong>
            </a>
          </li>
       </router-link>

        <router-link to="/cupon">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              <i class="fas fa-box-open"></i>
              <strong>優惠券</strong>
            </a>
          </li>
       </router-link>

        <router-link to="/OrderList">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              <i class="fas fa-box-open"></i>
              <strong>訂單列表</strong>
            </a>
          </li>
       </router-link>
        </ul>
      

      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>模擬功能</span>
          <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
       
        <ul class="nav flex-column mb-2">
         
          <li class="nav-item">
            <router-link to ='/CustomerOrder'>
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                <strong>模擬訂單</strong>
              </a>
            </router-link>
          </li>
       
        </ul>
      
      </div>
    </nav>
   
</div>
</template>
<script>
export default {

}
</script>