<template>
<!--global $-->
    <div>
      <loading :active.sync="isLoading"></loading>
       <div class="text-right">
           <button class="btn btn-outline-primary mt-4" 
                  @click="openModal(true)">建立新的產品</button>
       </div>
       <table class="table mt-4">
           <thead>
               <tr>
                   <th width="120">分類</th>
                   <th>產品名稱</th>
                   <th width="80">原價</th>
                   <th width="80">售價</th>
                   <th width="100">是否啟用</th>
                   <th width="80">編輯</th>
               </tr>
           </thead>
           <tbody></tbody>
           <tr v-for="(item,index) in products" :key="index">
               <td>{{item.category}}</td>
               <td>{{item.title}}</td>
               <td class="text-right">
                   {{item.origin_price | dollar}}
               </td>
               <td class="text-right">
                   {{item.price | dollar}}
               </td>
               <td>
                   <span v-show="item.is_enabled">啟用</span>
                   <span v-show="!item.is_enabled">未啟用</span>
               </td>
                <td>
                    <button class="btn btn btn-outline-primary btn-sm" @click="openModal(false,item)">編輯</button>
                     <button class="btn btn btn-outline-danger btn-sm" @click="openDelModal(item)">刪除</button>
                </td>


           </tr>
       </table>

       <!--頁碼-->


    
  <pageBar :pagination="pagination" :getProducts="getProducts"></pageBar>

       <!--頁碼-->
      <div class="modal fade" id="productModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content border-0">
      <div class="modal-header bg-dark text-white">
        <h5 class="modal-title" id="exampleModalLabel">
          <span>新增產品</span>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
         
          <div class="col-sm-4">
            
            <div class="form-group">
              <label for="image">輸入圖片網址</label>
              <input type="text" class="form-control" id="image"
                placeholder="請輸入圖片連結" v-model="tempProduct.imageUrl">
            </div>
            
            <div class="form-group">
              <label for="customFile">或 上傳圖片
                <span>
                <div class="spinner-border text-primary" role="status" id='smaller' v-show="iconShow">
                  </div>
                </span>
                <i class="fas fa-spinner fa-spin"></i>
              </label>
              <input type="file" id="customFile" class="form-control"
                ref="files" @change="uploadImg">
            </div>


            <img  :src="tempProduct.imageUrl" 
              class="img-fluid" alt="">
          </div>
        
        
          <div class="col-sm-8">
            <div class="form-group">
              <label for="title">標題</label>
              <input type="text" class="form-control" id="title"
                placeholder="請輸入標題" v-model="tempProduct.title">
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="category">分類</label>
                <input type="text" class="form-control" id="category"
                  placeholder="請輸入分類" v-model="tempProduct.category">
              </div>
              <div class="form-group col-md-6">
                <label for="price">單位</label>
                <input type="unit" class="form-control" id="unit"
                  placeholder="請輸入單位" v-model="tempProduct.unit">
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
              <label for="origin_price">原價</label>
                <input type="number" class="form-control" id="origin_price"
                  placeholder="請輸入原價" v-model="tempProduct.origin_price">
              </div>
              <div class="form-group col-md-6">
                <label for="price">售價</label>
                <input type="number" class="form-control" id="price"
                  placeholder="請輸入售價" v-model="tempProduct.price">
              </div>
            </div>
            <hr>

            <div class="form-group">
              <label for="description">產品描述</label>
              <textarea type="text" class="form-control" id="description"
                placeholder="請輸入產品描述" v-model="tempProduct.description"></textarea>
            </div>
            <div class="form-group">
              <label for="content">說明內容</label>
              <textarea type="text" class="form-control" id="content"
                placeholder="請輸入產品說明內容" v-model="tempProduct.content"></textarea>
            </div>
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox"
                  id="is_enabled" v-model="tempProduct.is_enable" :true-value="1" :false-value="0">
                <label class="form-check-label" for="is_enabled">
                  是否啟用
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" @click="upDateProduct">確認</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="delProductModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content border-0">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title" id="exampleModalLabel">
          <span>刪除產品</span>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        是否刪除 <strong class="text-danger">{{ tempProduct.title }}</strong> 商品(刪除後將無法恢復)。
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-danger" @click='delproduct'
          >確認刪除</button>
      </div>
    </div>
  </div>
</div>
 
    </div>
</template>

<script>
import pageBar from '@/components/pageBar.vue'
import modal from '@/components/modal.vue'
import $ from 'jquery'
export default {
    data(){
        return{
            products:[],
            tempProduct:{},
            isNew:false,
            delData:{},
            isLoading:false,
            iconShow:false,
            pagination:{},
        }
    },
    methods:{
        getProducts(page=1){
           this.isLoading=true;
           const api=`https://vue-course-api.hexschool.io/api/rycea/products?page=${page}`
           this.axios.get(api).then((response)=>{
              
               console.log(response.data)
               this.products=response.data.products
                this.isLoading=false;
                this.pagination=response.data.pagination;

           });
            
        },
        openModal(isNew,item){
            
            if(isNew){
                this.tempProduct={};
                this.isNew=true;
            }else{
                this.tempProduct=Object.assign({},item);
                this.isNew=false;
            }
            $("#productModal").modal('show');
        },
        upDateProduct:function(){
             let api=`${process.env.VUE_APP_APIPATH}/api/${process.env.VUE_APP_CUSTOMPATH}/admin/product`
             let httpMethod='post'
             if(!this.isNew){
                 api=`${process.env.VUE_APP_APIPATH}/api/${process.env.VUE_APP_CUSTOMPATH}/admin/product/${this.tempProduct.id}`
                    httpMethod='put'
             }
            this.$http[httpMethod](api,{data:this.tempProduct}).then((response)=>{
              console.log(response.data)
            //    this.products=response.data.products;
                if(response.data.success){
                    $('#productModal').modal('hide');
                    this.getProducts();
                    
                }else{
                      $('#productModal').modal('hide');

                    alert('新增失敗')
                }
           });
        },
        openDelModal:function(item){
          console.log(item)
          $('#delProductModal').modal('show');
          this.delData=item;
         
        },
        delproduct:function(){
          const api=`${process.env.VUE_APP_APIPATH}/api/${process.env.VUE_APP_CUSTOMPATH}/admin/product/${this.delData.id}`;
          this.$http.delete(api,this.delData).then((res)=>{
            if(res.data.success){
               $('#delProductModal').modal('hide')  
               console.log('刪除成功！');
               this.getProducts()

            }
            else{
               console.log('刪除失敗');
               $('#delProductModal').modal('hide');
              
            }
          })
        },
        uploadImg:function(){
         this.iconShow=true;
          const uploaded=this.$refs.files.files[0];
          const vm=this;
          const formData= new FormData();
          formData.append('file-to-upload',uploaded); 
          const url=`${process.env.VUE_APP_APIPATH}/api/${process.env.VUE_APP_CUSTOMPATH}/admin/upload`
         
          this.$http.post(url,formData,{
            headers:{
             "Content-Type":"multipart/form-data" 
           }
          }).then(res=>{
            console.log(res.data);
            if(res.data.success){
              vm.tempProduct.imageUrl=res.data.imageUrl;
              vm.$set(vm.tempProduct,'imageUrl',res.data.imageUrl);
              this.iconShow=false;
            }else{
              this.$bus.$emit('message:push',res.data.message,'danger');
              this.iconShow=false;
            }
          })

        }
    },
    created(){
    this.getProducts();
    
    },
    components:{
      pageBar,
        modal,
    }
   
}
</script>

<style scoped>
 #smaller{
   width:20px;
   height:20px;
 }
</style>