<template>
  <div>
    <keep-alive>
      <router-view/>
    </keep-alive>
    
     
  </div>
</template>

<script>
  export default{
    name:'App',
    created(){
     const api=`${process.env.VUE_APP_APIPATH}/api/${process.env.VUE_APP_CUSTOMPATH}/products`;
     this.$http.get(api).then((res)=>{
    
     });

      

    },
   
  }


</script>

<style lang="scss">
@import '@/assets/all.scss'
</style>
